* {
    margin: 0;
    padding: 0
}

html {
    height: 100%
}



#heading {
    text-transform: uppercase;
    color: black;
    font-weight: normal
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

.form-card {
    text-align: left
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform input,
#msform textarea {
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: black;
    background-color: white;
    font-size: 16px;
    letter-spacing: 1px
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #97D5b1;
    outline-width: 0
}

#msform .action-button {
    width: 100px;
    background: #97D5b1;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right
}

#msform .action-button:hover,
#msform .action-button:focus {
    background-color: #97D5b1
}

#msform .action-button-previous {
    width: 100px;
    background: #85d6a7;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: left;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    background-color: #a4ecc2
}

.card {
  
    border: none;
 
}

.fs-title {
    font-size: 25px;
    color: black;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left
}

.purple-text {
    color: black;
    font-weight: normal
}

.steps {
    font-size: 25px;
    color: black;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right
}

.fieldlabels {
    color: black;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: black;
}

#progressbar .active {
    color: #97D5b1
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400
}

#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f13e"
}

#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f003"
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f007"
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c"
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: white;
    background: #97D5b1;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
   
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #97D5b1
}

.progress {
    height: 20px
}

.progress-bar {
    background-color: #97D5b1
}

.fit-image {
    width: 100%;
    object-fit: cover
}
.button {
	width: 100px;
    background: #97D5b1;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right
}
.button:hover {
	background: #b0e7c7;
}
.send {
	margin-left: 0.5em;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
   
    background-color: #000;
  }
  .erromsg{
    color: #f30; /* cor do texto */
 }
 .olho {
	cursor: pointer;
	left: 730px;
	position: absolute;
	width: 20px;
	top: 190px;
  }