@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	user-select: none;
}
body {
	display: flex;
	height: 100vh;
	background:  #97D5b1;
	font-family: Montserrat, sans-serif;
	justify-content: center;
	align-items: center;
}
.container {
	max-width: 800px;
	width: calc(100% - 100px); 
}
.header {
	margin-bottom: 2em;
	color: #fff;
	font-size: 1.5em;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}
.form-container {
	padding: 3rem;
	background: #fff;
	border-radius: 0.9em;
    
}
.subtitle {
	margin-bottom: 3rem;
	color: #444;
	font-size: 0.8em;
	text-align: center;
    
}
.form-section {
	margin-bottom: 2em;
	display: flex;
	align-items: left;
   
    
    
}
.form-label {
	width: 9em;
	margin-right: 1em;
	font-size: 0.8em;
	font-weight: 690;
	text-align: center;
    
}
.input-container {
	display: flex;
	width: 450%;
}
.form-input,
.form-select {
	width: 100%;
	background: #fff;
}
.form-input:not(:first-child),
.form-select:not(:first-child) {
	border-left: 0;
}
.input-icon {
	background-color: #f4f2f0;
}
.form-input,
.input-icon,
.form-select {
	border: 1px solid rgba(147, 128, 108, 0.25);
	padding: 0.5em 0.90em;
}
.form-input:first-child,
.input-icon:first-child,
.form-select:first-child {
	border-radius: 5px 0 0 5px;
}
.form-input:last-child,
.input-icon:last-child,
.form-select:last-child {
	border-radius: 0 5px 5px 0;
}
.button {
	margin-top: 1em;
	padding: 1em;
	width: 100%;
	font-weight: 600;
	background: #a7bfe8;
	color: #fff;
	border: 0;
	border-radius: 0.3em;
	cursor: pointer;
}
.button:hover {
	background: #a7bfe8;
}
.send {
	margin-left: 0.5em;
}

@media only screen and (max-width: 545px) {
	.container {
		width: calc(100% - 50px);
	}
	.form-section {
		margin-bottom: 0.5em;
		display: flex;
		flex-direction: column;
	}
	.form-label {
		width: 100%;
		margin-bottom: 0.5em;
		margin-right: 0;
		font-size: 0.8em;
		font-weight: 600;
		text-align: left;
	}
}
@media only screen and (max-width: 300px) {
	.container {
		width: calc(100%);
	}
	.form-container {
		border-radius: 0;
	}
}

/* Delete inner and outer arrow of date and time picker */
input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-outer-spin-button,
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
@media only screen and (max-device-width: 900px) {
	/* .menu { width:100%; } */
	}
	@media only screen and (max-device-width: 900px) {
		/* .menu { width:600px; } */
		}
		@media only screen and (max-device-width: 700px) {
			/* .menu { width:400px; } */
			}
			@media only screen and (max-device-width: 580px) {
				/* .menu { width:400px; } */
				}