<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="perfilnutri.css">
    <title>Nutricionista</title>
</head>
<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
  <script src="script.js"></script>

<!-- partial:index.partial.html -->
  <div class="sttngs">
    <h2>Seu perfil</h2>
  <div class="tabordion">
  <section id="section1">
   
    
      <input class="t" type="radio" name="sections" id="option1">
      
      <label for="option1" class="trr"> Consultas</label>
      <article>
       <form action="">
          <div class="tr wwq">
  <table id="customers">
    <tr>
      
      </tr> <br>
  
      <div class="table-title">
        <h3></h3>
        </div>
        <table class="table-fill">
        <thead>
        <tr>
        <th class="text-left">Paciente</th>
        <th class="text-left">CPF</th>
        <th class="text-left">Data</th>
        <th class="text-left">Hora</th>
        </tr>
        </thead>
        <tbody class="table-hover">
        <tr>
        <td class="text-left">João</td>
        <td class="text-left">675.077.970-07</td>
        <td class="text-left">12/09/2021</td>
        <td class="text-left">10:00</td>
        </tr>
        <tr>
        <td class="text-left">Sheila</td>
        <td class="text-left">677.985.320-80</td>
        <td class="text-left">13/08/2021</td>
        <td class="text-left">09:00</td>
        </tr>
        <tr>
        <td class="text-left">Fernando</td>
        <td class="text-left">512.161.870-02</td>
        <td class="text-left">25/10/2021</td>
        <td class="text-left">11:00</td>
        </tr>
        </tbody>
        </table>
  
     
     
   
       
       </div>
     </form>
     </form>
     </article>
   </section>


   <section id="section2">
    
    <input class="t" type="radio" name="sections" id="option2">
    
    <label for="option2" class="trr"> Informações da conta</label>
    <article>
     <form action="">
        <div class="tr wwq">
    
        
      <label class="label" for="input">Nome de usuário </label>
      <input class="input" type="text" id="input" name="usuario" required pattern="^[a-zA-Z]{3,25}$" title="Indique seu nome completo sem números e sem espaços"> 
    
      <label class="label" for="input">Email</label>
      <input class="input" type="email" id="input" name="email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="O email teve conter um @" required>
      
      <label class="label" for="input">Senha</label>
    <input class="input"  onsubmit="validatemyPassword()" type="password" id="myPassword" name="password"  title="Deve conter pelo menos um número e uma letra maiúscula e minúscula e pelo menos 8 ou mais caracteres" required>
    
      <label class="label" for="input">Confirmação da senha</label>
      <input class="input" type="password" id="confirm_password" required>
      


      
      <button type="button" id="botao" class="button" data-toggle="modal" data-target="#exampleModal3">
        Salvar
           </button>
       
           <!-- Modal -->
           <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label" aria-hidden="true">
           <div class="modal-dialog" role="document">
             <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModal3Label">Confirmação de cadastro
               </h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
             Antes de ir para o próximo, verifique se suas informações foram completadas e estão corretas
              
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
               <button type="submit" class="btn btn-primary">Salvar informações </button >
             </div>
             </div>
           </div>
           </div>

          
       </div>
     </form>
     </form>
     </article>
   </section>

     

   <section id="section3">
   <input class="t" type="radio" name="sections" id="option3">
    
  </article>
  </section>
  
  <section id="section4">
  <input class="t" type="radio" name="sections" id="option4">
  <label for="option4" class="trr">Informações Pessoais</label>
  <article> 
       
 
    <div class="frm">     
      <div id='profile-upload'>
      <div class="hvr-profile-img">
        <input type="file" name="logo" id='getval'  class="upload"  id="imag">
      <div class="icon">
      <div class="camera4"><span></span></div>
      
      </div>
      </div>
      </div>

      <div class="tr">
        <form action="">
          <form id="msform">
    
        <label class="label" for="input">Nome de usuário </label>
      <input class="input" type="text" id="input" name="usuario" required pattern="^[a-zA-Z]{3,25}$" title="Indique seu nome completo sem números e sem espaços"> 
    
      <label class="label" for="input">Descrição</label>	
      <input class="input" type="text" id="input" name="Descrição" required maxlength="240"> 
         
            <!-- Button trigger modal -->
    <button type="button" id="botao" class="button" data-toggle="modal" data-target="#exampleModal2">
      Salvar
         </button>
         
         <!-- Modal -->
         <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModal2Label" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
           <div class="modal-header">
             <h5 class="modal-title" id="exampleModal2Label">Confirmação de atualização da conta</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
           </div>
           <div class="modal-body">
            Sua atualização está prestes a ser concluid. Suas informações estão certas?
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
             <button type="submit" class="btn btn-primary">Salvar informações </button >
           </div>
           </div>
         </div>
         </div>

      
  </article>
  </section>
    
   
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- partial -->
<script  src="./script.js"></script>

</body>
</html>