body, html {
    font-family: 'Poppins', sans-serif;
   
}

#header {
    width: 100%;
    background-color: transparent;
    transition: background ease-out 0.2s;
    
}

#header .navbar-collapse {
    width: auto;
}

#header .nav-link{
    text-transform:  uppercase;
    font-weight: 500;
    padding-left: 0;
    padding-right: 0;
    margin-left: 15px;
    margin-right: 15px;
    color: black;
    border-bottom: solid 4px transparent;
    background-color: #97D5b1;
}

#header .nav-link hover{
    border-bottom: solid 4px var(--primary);
    color: var(--secundary);
    background-color: #97D5b1;
}

.button {
    text-transform: lowercase;
    font-weight: 500;
    padding-left: 1.4rem;
    padding-right: 1.4rem;

}
.button-primay{
    background-color: #97D5b1;
    border-color: #7fd6a4;
}
.button-primay:hover{
    background-color: #97D5b1;
    border-color: #7fd6a4;
}
.button-primay-outline{
    border-color: #97D5b1;
    color: #7fd6a4;
}
.button-primay-outline:hover{
    background-color:#97D5b1;
    border-color: #7fd6a4;
}
.img-fluid{
    border-radius: 90%;
    width: 4.4%;
    position: absolute;
    top: 1.18%;
    right: 92.5%;
}
#slider{
    position: absolute;
    top: 30%;
    right: 38%;
width: 700px;
background-color: transparent;


}
