<!DOCTYPE html>
<html lang="pt-br" >
<head>
  <meta charset="UTF-8">
  <title>Cadastro nutricionista</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="./style.css">

</head>
<body>
  <script src="script.js"></script>
<form id="msform">
  </ul>
 
  <fieldset>
    <h2 class="fs-title">CRIE SUA CONTA</h2>
    <h3 class="fs-subtitle"></h3>
    <input type="text" id="cnpj" placeholder="cnpj" pattern="/^\d{2}\.\d{3}\.\d{3}\/\d{4}\-\d{2}$/" title="Siga o formato  XX. XXX. XXX/XXXX-XX." required>
    <input type="password" placeholder="Senha" id="password" required  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Deve conter pelo menos um número e uma letra maiúscula e minúscula e pelo menos 8 ou mais caracteres">
        <input type="password" placeholder="Confirme Senha" id="confirm_password" required>
      
        <button type="button" id=botao class="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Enviar
        </button>  
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmação de Cadastro</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Seu cadastro foi confirmado
              </div>
              </div>
            </div>
          </div>
  </form>


</body>
</html>
