<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Cadastro usuario</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css'>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" />
  
<link rel="stylesheet" href="./cadastroUsuario.css">

</head>
<body>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

   

    <script src="cadastroUsuario.js"></script>
<!-- partial:index.partial.html -->
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-11 col-sm-10 col-md-10 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                <h2 id="heading">Faça seu Cadastro</h2>
            
                <form id="msform">
                    <!-- progressbar -->
                    <ul id="progressbar">
                        <li class="active" id="account"><strong>Conta</strong></li>
                        <li id="personal"><strong>Contato</strong></li>
                        <li id="payment"><strong>Pessoal</strong></li>
                        <li id="confirm"><strong>Finalizar</strong></li>
                    </ul>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div> <br> <!-- fieldsets -->
             
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Informações da conta:</h2>
                                </div>
                                
                            </div> <label class="fieldlabels">Nome de usuario</label > <input type="text" id="usuario" placeholder="Insira um nome de usuario"  required /> 

                            <label class="label" for="input">Senha</label >
                            <input class="input"  onsubmit="validatemyPassword()" type="password" id="myPassword" name="password" placeholder="Insira uma senha"  title="Deve conter pelo menos um número e uma letra maiúscula e minúscula e pelo menos 8 ou mais caracteres" required>

                             <label class="label" for="input">Confirmação da senha</label required>
	                         <input class="input" type="password" id="confirm_password" placeholder="Confirme sua senha" required>
                             <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABDUlEQVQ4jd2SvW3DMBBGbwQVKlyo4BGC4FKFS4+TATKCNxAggkeoSpHSRQbwAB7AA7hQoUKFLH6E2qQQHfgHdpo0yQHX8T3exyPR/ytlQ8kOhgV7FvSx9+xglA3lM3DBgh0LPn/onbJhcQ0bv2SHlgVgQa/suFHVkCg7bm5gzB2OyvjlDFdDcoa19etZMN8Qp7oUDPEM2KFV1ZAQO2zPMBERO7Ra4JQNpRa4K4FDS0R0IdneCbQLb4/zh/c7QdH4NL40tPXrovFpjHQr6PJ6yr5hQV80PiUiIm1OKxZ0LICS8TWvpyyOf2DBQQtcXk8Zi3+JcKfNafVsjZ0WfGgJlZZQxZjdwzX+ykf6u/UF0Fwo5Apfcq8AAAAASUVORK5CYII=" onclick="mouseoverPass();" onmouseout="mouseoutPass();"  id="olho" class="olho" required/>

                             <button type="button" id="botao" class="button" data-toggle="modal" data-target="#exampleModal">
                                Confirmar
                                   </button>
                            
                               
                                   <!-- Modal -->
                                   <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                   <div class="modal-dialog" role="document">
                                     <div class="modal-content">
                                     <div class="modal-header">
                                       <h5 class="modal-title" id="exampleModalLabel">Confirmação de cadastro
                                       </h5>
                                       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                       <span aria-hidden="true">&times;</span>
                                       </button>
                                     </div>
                                     <div class="modal-body">
                                     Antes de ir para a próxima página, confirme se você completou todos os espaços e verifique se eles estão corretos.
                                      
                                     </div>
                                     <div class="modal-footer">
                                       <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                       <input type="button" name="next" class="next action-button" value="Próximo">
                                     </div>
                                     </div>
                                   </div>
                                   </div>
                                   
                                </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Informações de contato</h2>
                                </div>
                                
                            </div> <label class="fieldlabels">Email</label> <input type="email" name="email" placeholder="Insira seu email." required /> 

                            <label class="label" for="input">Telefone Residencial</label>	
                            <input class="input e" id="phone" name="phone" onkeypress="mask(this, mphone);" onblur="mask(this, mphone);" maxlength="14" required/>
                        
                          <label class="label" for="input">Telefone Celular</label>	
                            <input class="input e" id="phone" name="phone" onkeypress="mask(this, mphone);" onblur="mask(this, mphone);" maxlength="15" required/>
                
                        </div> <input type="button" name="next" class="next action-button" value="Próximo" /> <input type="button" name="Voltar" class="previous action-button-previous" value="Voltar" />
                
                    </fieldset>


                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Informações Pessoais</h2>
                                </div>
                            
                                <label class="fieldlabels">Primeiro Nome</label> <input type="text" name="nome" placeholder="Insira seu Primeiro nome." /> 
                                <label class="fieldlabels">Sobrenome</label> <input type="text" name="Sobrenome" placeholder="Insira seu Sobrenome" /> 
                                <label class="fieldlabels">Idade</label> <input type="number" name="idade" placeholder="Insira sua idade." />
                               <label class="fieldlables">cpf</label> <input type="text" value="" id="cnpj" placeholder="cnpj" title="Siga o formato  XX. XXX. XXX/XXXX-XX." maxlength="18" required >
                                <label class="fieldlabels">CEP</label> <input type="text" name="cep" placeholder="Insira seu cep" /> 
                                <label class="fieldlabels">Rua</label> <input type="text" name="rua" placeholder="Insira sua rua" /> 
                                <label class="fieldlabels">Numero</label> <input type="number" name="numero" placeholder="Insira o numero." /> 
                                <label class="fieldlabels">Bairro</label> <input type="text" name="bairro" placeholder="Insira o seu bairro." />
                                <label class="fieldlabels">Cidade</label> <input type="text" name="cidade" placeholder="Insira sua cidade." />
                                <label class="fieldlabels">Estado</label> <input type="text" name="estado" placeholder="Insira seu estado." />   

                            </div> <label class="fieldlabels">Escolha sua foto de perfil:</label> <input type="file" name="pic" accept="image/*"> 
                        </div> <input type="button" name="next" class="next action-button" value="Proximo" /> <input type="button" name="previous" class="previous action-button-previous" value="Voltar" />
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                
            
                            </div> <br><br>
                            <h2 class="purple-text text-center"><strong>Enviado com sucesso!</strong></h2> <br>
                            <div class="row justify-content-center">
                                <div class="col-3"> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/03/Green_check.svg/2048px-Green_check.svg.png" class="fit-image"> </div>
                             
                            </div> <br><br>
                            <div class="row justify-content-center">
                               
                            
                            </div>
                            
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>