<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC   "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/clinica?useTimezone=true&amp;serverTimezone=UTC</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">bombeiro0508_</property>
		<property name="show_sql">true</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<mapping class="modelo.entidade.contato.Contato"/>
		<mapping class="modelo.entidade.consulta.Consulta"/>
		<mapping class="modelo.entidade.endereco.Endereco"/>
		<mapping class="modelo.entidade.historico.Historico"/>
		<mapping class="modelo.entidade.nutricionista.Nutricionista"/>
		<mapping class="modelo.entidade.paciente.Paciente"/>
		<mapping class="modelo.entidade.usuario.Usuario"/>
		
	</session-factory>
</hibernate-configuration>