@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

/*body*/
 body{
  background:#97D5b1;}
.sttngs p{color:#000;}
.sttngs{max-width:1064px;
  margin: 10em auto;
  background:#fff;
  padding:59.4em;
  height: auto;
  font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
  padding-top:20px;
  height: 69em;}
   
/*cabeçalho*/
.logo{
  display: relative;
  margin-top: -15em;
  margin-left: -18.2em;}
.card-title{
  color: #fff;
  margin-top: -2.1em;
  margin-left: -2em;
  font-size: 5em;}
.btn{ 
  width: 11em;
  border-radius:20px;
  position: relative;
  top: -7.5em;
  left: 40em;
  margin-top: 1em;}  

/*rodapé*/
.bi-geo-alt-fill{
  font-size: 2.5rem;
  position: absolute;
  margin-top: 26em;
  margin-left: -22.5em;
  color: #fff;}
.pin{
  font-size: 1.4rem;
  position: absolute;
  margin-top: 47.2em;
  margin-left: -37.5em;}
.bi-telephone-fill{
  font-size: 2.5rem;
  position: absolute;
  margin-top: 26.1em;
  margin-left:  -11.9em;
  color: #fff;}
.telefone{
  font-size: 1.4rem;
  position: absolute;
  margin-top: 47.2em;
  margin-left: -18.6em;}
.bi-envelope{
  font-size: 2.5rem;
  position: absolute;
  margin-top: 26.1em;
  margin-left:  -6.6em;
  color: #fff;}
.envelope{
  font-size: 1.4rem;
  position: absolute;
  margin-top: 47.2em;
  margin-left: -8.6em;}
.bi-whatsapp{
  font-size: 3rem;
  position: absolute;
  margin-top: 21.5em;
  margin-left: 3.4em;
  color: #fff; }
.whatsapp{
  font-size: 1.4rem;
  position: absolute;
  margin-top: 47em;
  margin-left: 10.3em;}
.bi-instagram{
  font-size: 3rem;
  position: absolute;
  margin-top: 21.5em;
  margin-left: 9.3em;
  color: #fff; }
.instagram{
  font-size: 1.4rem;
  position: absolute;
  margin-top: 47em;
  margin-left: 23em;}
.bi-facebook{
  font-size: 3rem;
  position: absolute;
  margin-top: 21.5em;
  margin-left: 14em;
  color: #fff;}
.facebook{
  font-size: 1.4rem;
  position: absolute;
  margin-top: 47em;
  margin-left: 33em;}