@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

/*body*/
 body{
  background:#97D5b1;}
.sttngs p{color:#000;}
.sttngs{max-width:1064px;
  margin: 10em auto;
  background:#fff;
  padding:59.4em;
  height: auto;
  font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
  padding-top:20px;
  height: 69em;}
   
/*cabeçalho*/
.logo{
  display: relative;
  margin-top: -15em;
  margin-left: -18.2em;}
.card-title{
  color: #fff;
  margin-top: -2.1em;
  margin-left: -2em;
  font-size: 5em;}
.btn{ 
  width: 11em;
  border-radius:20px;
  position: relative;
  top: -7.5em;
  left: 40em;
  margin-top: 1em;}  
.container{
  font-size: 1.5rem;
  text-align: center;
  position: absolute;
  top: 53em;
  margin-left: -27em;
  color: white;}
.bi{
  font-size: 2rem;}

 /*receitas*/


.balao {
  text-align: justify;
  width: 45em;
  height: 10em;
  font-size: 1.4rem;
  margin-top: -40em;
  margin-left: -35.5em;
  text-indent: 2em;}

.container1{
  font-size: 1rem;
  text-align: center;
  position: absolute;
  top: 35em;
  margin-left: -58.2em;
  color: black;
  width: 68%;
  }

  .container2{
    margin-left: 24em;
    padding-top: -5em;
    grid-template-columns: 150px 20px 150px 20px 150px;
  }

 @media only screen and (max-width: 900px) {
  
  .body{width:100%;}

  .sttngs{
    width: calc(100%);    }
  .tabordion{
    width: calc(100%);}
  .container1{
    width: calc(100%);} 
  .balao{
    width: calc(35em);}
  .card{
    width: calc(100%);} 
  } 

@media only screen and (max-device-width: 900px) {
  /* .menu { width:100%; } */ }
  @media only screen and (max-device-width: 900px) {
    /* .menu { width:600px; } */ }
    @media only screen and (max-device-width: 700px) {
      /* .menu { width:400px; } */ }
      @media only screen and (max-device-width: 580px) {
        /* .menu { width:400px; } */}
 
 