 @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
 
 body{
  background:#97D5b1;
  }

.sttngs p{color:#000;}
.sttngs{max-width:1064px;
  margin: 50px auto;
  background:#fff;
  padding:680px;
  height: auto;
  font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
  border-radius:35px;
  padding-top:20px;
 -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);}
.sttngs h2{letter-spacing:2px;
  margin:20px;
  color:#000;}
.sttngs .tabordion {
  color: #a7bfe8;
  display: block;
  margin: auto;
  position: relative;
  right: 665px;
  height:900px;
  width: 100%; 
}
.sttngs.tabordion input[name="sections"] {display:none;}
.sttngs.tabordion section {display: block;}
.tabordion section label {
  border-right:1px solid #a7bfe8;
  display: block;
  font-size: 25px;
  font-weight:800;
  text-transform:uppercase;
  padding: 14px 20px;
  color:#999;
  letter-spacing:1px;
  position: relative;
  width: 180px;
  z-index:100;
}
.trr{ cursor: pointer;}
.ver{color:#a7bfe8;}
.tabordion section article {
  display: none;
  padding-left: 200px;
  max-width: 100%;
  position: absolute;  
  top: -50px;opascity:.7;
}
.tabordion input[name="sections"]:checked + label { 
  border-right:3px  solid #a7bfe8;
  color: #a7bfe8;
}  
.tabordion input[name="sections"]:checked ~ article {
  display: block;
}
.social{
  display:inline-block;width:32.7%;
}
:root {
  font-family: helvetica, arial, sans-serif;
  font-size: 15px;
}
input, select, textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.frm .label{
  display: block;width:100%;
  margin-bottom: 0.25em;
  font-size: 10px;text-align:left;
  font-weight: 900;padding:0;color:#111;
  letter-spacing: 1px;border:none;
}
.input, .select, .textarea {
  padding: 10px;
  border:1px solid lightgray;
  background-color: white;color:#aaa;letter-spacing:.7px;
}
.input:focus, .textarea:focus {
  border-color: gray;
}
.textarea {
  min-height: 100px;
  resize: vertical;
}
.tr{
  padding-top:50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.tr .label{
  margin-bottom: 0.25em;width:100%;
  font-size: 10px;text-align:left;
}
.p{padding:30px;}
.input, .checkbox-label:before, .radio-label:before, .checkbox-label:after, .radio-label:after, .select, .textarea, .checkbox-label, .radio-label {
  margin-bottom: 1em;
}
.icon{
  width:75px;
  height:75px; 
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.frm{padding:3%;}
.tr span{display:inline-block;color:grey;font-size:11px;letter-spacing:0;font-weight:700;text-transform:none;}
  #texte{display:inline-block;color:grey;text-transfgorm:none;letter-spacing:0;}
.sttngs button {
  text-transform: uppercase;font-weight:800;letter-spacing:1px;
  outline: 0;
  background: #97D5b1;
  width: 200px;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius:3px;margin-top:30px;
  position: relative;
  left: 100px;
  transform: translate(-50%, 0px);
  }
.sttngs button:hover, .sttngs  button:active, .sttngs button:focus {background: #a7bfe8;}
  
  /* LOGIN */
.card{
	position:absolute;
	top:400px;
	left:650px;
	width:400px;
  padding-top:20px;
  padding-bottom:39px;
  transform:translate(-50%,-50%);
  background-position: 25px;
  background-color: #F0FFF0;
}
.card-body{
  display:center;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  text-align:center;
}
.card-body p{
    font-size:1.1rem;
}
.card-title{
  font-weight:bold;
  font-size:1.8rem;
}
.badge-wrap{
  display:flex;
  justify-content:center;
}
.badge-wrap a.badge{
  display:flex;
  align-items:center;
  justify-content:center;
  width:2.5rem;
  height:2.5rem;
  margin:0 .2rem;
  padding:0;
  opacity:.7;
  border-radius:50%;
  transition:opacity .3s ease-in;
  font-size:1rem;
  color:rgb(240, 206, 206);
  text-decoration:none;
  cursor:pointer
}
.badge-wrap a.badge:hover{
  opacity:1;
  color:rgb(240, 206, 206);
}
.btn{
  color:white !important;
  width:10em;
  transition:all .4s;
  border-radius:20px;
  border:2px solid transparent;
  border:2px solid transparent;
  position: relative;
  left: 85px;
}
.btn.btn-back{
  position:absolute;
  top:0;
  left:0;
  border-radius:0;
  width:3rem;
  height:3rem;
  font-size:1.5rem;
  border:0
}
.btn.btn-back:hover{
  border:0 !important;
}
.form-control{
  font-family:'Handle', cursive
}
.form-control::-moz-placeholder{
  font-family:'Josefin Sans', sans-serif;
  letter-spacing:.1em;
  font-size:.9rem;
}
.form-control:-ms-input-placeholder{
  font-family:'Josefin Sans', sans-serif;
  letter-spacing:.1em;
  font-size:.9rem;
}
.form-control::placeholder{
  font-family:'Josefin Sans', sans-serif;
  letter-spacing:.1em;
  font-size:.9rem;
}
.card--welcome{
  z-index:3;
}
.card--welcome .card-title{
  color:#97D5b1;;
  }
.card--welcome .btn-wrap{
  display:flex;
  flex-direction:column;
}
.card--welcome .btn{
  color:white;
  transition:all .3s
}
.card--welcome .btn:hover{
  background-color:#bde7e2;
  font-weight:bold;
}
.card--welcome .btn-register{
  margin-bottom:.8em;
  background-color:#97D5b1;
}
.card--welcome .btn-register:hover{
  color:#97D5b1;
}
.card--welcome .btn-login{
  background-color:#a7bfe8;
}
.card--register .card-title{
  color:#97D5b1;
}
.card--register .badge{
  background-color:#97D5b1;
}
.card--register .btn{
  background-color:#97D5b1;
}
.card--register .btn:hover{
  background-color:#c1e2cf;
	color:#97D5b1;
	font-weight:bold;
	border:2px solid rgba(238,156,167,.25);
}
.card--register .btn:focus{
  box-shadow:0 0 0 0.2rem rgba(238,156,167,.25);
}
.card--register .form-control{
  color:#97D5b1;;
  border-color:rgba(238,156,167,.25)
}
.card--register .form-control:focus{
  box-shadow:0 0 0 0.2rem rgba(238,156,167,.25);
}
.card--login .card-title{
  color:#a7bfe8;
}
.card--login .badge{
  background-color:#a7bfe8;
}
.card--login .btn{
  background-color:#a7bfe8
}
.card--login .btn:hover{
  background-color:#c8d7f1;
	color:#a7bfe8 !important;
	font-weight:bold;
	border:2px solid rgba(167,191,232,.25);
	}
.card--login .btn:focus{
  box-shadow:0 0 0 0.2rem rgba(167,191,232,.25);
}
.card--login .form-control{
  color:#a7bfe8;
  border-color:rgba(167,191,232,.25)
}
.card--login .form-control:focus{
  box-shadow:0 0 0 0.2rem rgba(167,191,232,.25);
}
body.is-register{
	background-position:0% 50%;
}
body.is-login{
  background-position:100% 50%;
}
.card{
	transition:all .3s .1s ease-out
}
.card:not(.is-show){
  opacity:0;
	transform:translate(-50%,-50%) rotateX(95deg);
}
.card.is-show{
	opacity:1;
	transform:translate(-50%,-50%);
   z-index:5;
}

/* planos */
.card1-img-top{
  padding-top: 50px;
  padding-left: 65px;
}
.card-title3{
  text-align: center;
  position:absolute;
  top:160px;
  left:1050px;
  font-size: 50PX;
  width:200%;
  padding-top:50px;
  padding-bottom:55px;
  transform:translate(-50% , -50%);
  background-position: 10px; 
}
.card-text2{
  text-align: center;
  position:absolute;
  top:335px;
  left:1050px;
  width:200%;
  padding-top:50px;
  padding-bottom:55px;
  transform:translate(-50% , -50%);
  background-position: 10px;
  color: #000;
}
.btn-primary1 {
  background-color: #a7bfe8 ;
  color:white !important;
	width:10em;
	transition:all .4s;
	border-radius:20px;
  border:2px solid transparent;
  position: relative;
  left: 775px;
  top: -30px;
}
.card2-img-top{
  padding-top: 50px;
  padding-left: 67px;
}
.card-title4{
  text-align: center;
  position:absolute;
  top:700px;
  left:1050px;
  font-size: 50PX;
  width:200%;
  padding-top:50px;
  padding-bottom:55px;
  transform:translate(-50% , -50%);
  background-position: 10px;
}
.card-text3{
  text-align: center;
  position:absolute;
  top:890px;
  left:1050px;
  width:200%;
  padding-top:50px;
  padding-bottom:55px;
  transform:translate(-50% , -50%);
  background-position: 10px;
  color: #000;
}
.btn-primary2 {
  background-color: #a7bfe8 ;
  color:white !important;
	width:10em;
	transition:all .4s;
	border-radius:20px;
  border:2px solid transparent;
  position: relative;
  left: 775px;
  top: 10px;
}
.card3-img-top{
  padding-top: 50px;
  padding-left: 70px;
}
.card-title5{
  text-align: center;
  position:absolute;
  top:1210px;
  left:1050px;
  font-size: 50PX;
  width:200%;
  padding-top:50px;
  padding-bottom:55px;
  transform:translate(-50% , -50%);
  background-position: 10px;  
}
.card-text4{
  text-align: center;
  position:absolute;
  top:1400px;
  left:1050px;
  width:200%;
  padding-top:50px;
  padding-bottom:55px;
  transform:translate(-50% , -50%);
  background-position: 10px;
  color: #000;
}
.btn-primary3 {
  background-color: #a7bfe8 ;
  color:white !important;
	width:10em;
	transition:all .4s;
	border-radius:20px;
  border:2px solid transparent;
  position: relative;
  left: 775px;
  top: -20px;
}

/* HOME */

img{
  display: block;
  margin-left: -50px;
  margin-top: 50px;
}
.card-title1 {
  text-align: center;
  position:absolute;
  top:120px;
  left:450px;
  font-size: 85PX;
  width:300%;
}
.card-title2 {
  text-align: center;
  position:absolute;
  top: 220px;
  left:350px;
  font-size: 50PX;
  width:400%;
}
.card-text1 {
  text-align: relative;
  position:absolute;
  top:60px;
  left:-190%;
  width:250%;
  padding-top:50px;
  background-position: 10px;
  color: #000;
}
.logo {
	font-family: "Oswald", sans-serif;
	font-size: 3.125rem;
	font-weight: 400;
	letter-spacing: 0.4375rem;
  align-items: center;
  justify-content: center
}
.quick-logo {
	color: #97D5b1;
	line-height: 0.9;
	padding: 10px 0px 2px 0;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 400px;
  right: -870px;
}
.filled-items {
	color: #000000;
	font-size: 11px;
	padding: 5px 22px 22px 22px;
  align-self: start;
	background: #a7bfe8;
	border-radius: 1rem;
  position: relative;
  top: 350px;
  right: -600px;
  width: 200%;
}
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

/* ICONS*/

.far{
 top: 50px;
 padding-top: 10px;
  font-size:24px;
}
.fas{
 top: 50px;
 padding-top: 10px;
  font-size:24px;
}

.fab{
top: 10px;
padding-left: 500px;
font-size:50px;
}
@media only screen and (max-device-width: 900px) {
	/* .menu { width:100%; } */
	}
	@media only screen and (max-device-width: 900px) {
		/* .menu { width:600px; } */
		}
		@media only screen and (max-device-width: 700px) {
			/* .menu { width:400px; } */
			}
			@media only screen and (max-device-width: 580px) {
				/* .menu { width:400px; } */
				}
		