/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

html {
	
	/*Image only BG fallback*/
	
	/*background = gradient + image pattern combo*/
	background: 
	 #97D5b1;
}

body {
	font-family: montserrat, arial, verdana;
}
/*form styles*/
#msform {
	width: 500px;
	margin: 250px auto;
  left: 680px;
	text-align: center;
	position:absolute;
  background: 
  #97D5b1;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
.button {
	margin-top: 1em;
	padding: 1em;
	width: 100%;
	font-weight: 600;
	background: #a7bfe8;
	color: #fff;
	border: 0;
	border-radius: 0.3em;
	cursor: pointer;
}
.button:hover {
	background: #a7bfe8;
}
.send {
	margin-left: 0.5em;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
#myPassword {
	width: 170px;
	padding-right: 80px;
  }
  
  .olho {
	cursor: pointer;
	left: 345px;
	position: absolute;
	width: 20px;
	top: 260px;
  }

  