<!DOCTYPE html>
<html lang="pt-br" >
<head>
  <meta charset="UTF-8">
  <title>Perfil</title>
  <script src="https://use.typekit.net/lkh0ago.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id='settings' ontouchstart>
  <input checked class='nav' name='nav' type='radio'>
  <span class='nav'>Perfil</span>
  <input class='nav' name='nav' type='radio'>
  <span class='nav'>Conta</span>
  <input class='nav' name='nav' type='radio'>
  <span class='nav'>Informações residênciais</span>
  <main class='content'>
    <section id='profile'>
      <form>
        <ul>
          <li class='large padding avatar'>
            <span style="background-image: url(../perfilpaci/profile.jpg)"></span>
            <div>
              <fieldset class='material-checkbox'>
                <div>
                  <input checked type='checkbox'>
                
                </div>
              </fieldset>
              <fieldset class='material-button'>
                <div>
                  <button >Selecione uma foto de perfil</button>
                </div>
              </fieldset>
            </div>
          </li>
          <li>
            <fieldset class='material'>
              <div>
                <input required type='text' value=''>
                <label>Nome Completo</label>
                <hr>
              </div>
            </fieldset>
          </li>
          <li>
            <fieldset class='material'>
              <div>
                <input required type='date' value = ''>
                <label>Data de aniversário</label>
                <hr>
              </div>
            </fieldset>
          </li>
          <li>
            <fieldset class='material'>
              <div>
                <input required type='text'>
                <label>CPF</label>
                <hr>
              </div>
            </fieldset>
          </li>
          <li>
            <fieldset class='material'>
              <div>
                <input required type='text'>
                <label>Telefone</label>
                <hr>
              </div>
            </fieldset>
          </li>
          
          <li class='large padding'>
            <fieldset class='material-button center'>
              <div>
                <input class='save' type='submit' value='Save'>
              </div>
            </fieldset>
          </li>
        </ul>
      </form>
    </section>
    <section id='account'>
      <form>
        <ul>
          <li>
            <fieldset class='material'>
              <div>
                <input required type='text' value=''>
                <label>Email</label>
                <hr>
              </div>
            </fieldset>
          </li>
          <li>
            <fieldset class='material'>
              <div>
                <input required type='text'>
                <label>Nome</label>
                <hr>
              </div>
            </fieldset>
          </li>
          <li>
            <fieldset class='material'>
              <div>
                <input required type='password'>
                <label>Senha</label>
                <hr>
              </div>
            </fieldset>
          </li>
          <li>
            <fieldset class='material'>
              <div>
                <input required type='password'>
                <label>Confirme sua senha</label>
                <hr>
              </div>
            </fieldset>
          </li>
          <li class='padding'>
            <fieldset class='material-button'>
              <div>
                <li class='large padding'>
                    <fieldset class='material-button center'>
                      <div>
                        <input class='save' type='submit' value='Alterar'>
                      </div>
                    </fieldset>
                  </li>
          
        </ul>
      </form>
    </section>
    <section id='account'>
        <form>
          <ul>
            <li>
              <fieldset class='material'>
                <div>
                  <input required type='text' value=''>
                  <label>CEP</label>
                  <hr>
                </div>
              </fieldset>
            </li>
            <li>
              <fieldset class='material'>
                <div>
                  <input required type='number'>
                  <label>Número</label>
                  <hr>
                </div>
              </fieldset>
            </li>
            <li>
              <fieldset class='material'>
                <div>
                  <input required type='password'>
                  <label>Complemento</label>
                  <hr>
                </div>
              </fieldset>
            </li>
            
            <li class='large padding'>
              <fieldset class='material-button center'>
                <div>
                  <input class='save' type='submit' value='Salvar'>
                </div>
              </fieldset>
            </li>
          </ul>
        </form>
      </section>
  </main>
</div>
</body>
</html>