<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Agende sua consulta</title>

</head>
<body>
    <main>

    <h1>Agende sua consulta</h1>
    <form>

    </div>
    <form action="data Proposta">
        <label for="nome">
            <span>Data Proposta</span>
            <input type="date" id="data" nome= "data">

        </label>
        <label for="Hora">
            <span>Hora proposta</span>
            <input type="time" id="hora" nome= "hora">
</label>
<input type="submit" value="Agendar" id="button">
            
</form>

<div>
    
    <hr>
    
</div>

</main>
<section class="images">
<img src="logo.jpg" alt="logo"> 
<div class="circle"></div>
</section>

       
</body>
</html>