<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faça login.</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <h1>Faça login</h1>
        <form action="">
            <label for="nome">
                <span>Nome</span>
                <input type="text" id="nome" nome= "nome">

            </label>
            <label for="Cnpj">
                <span>Cnpj</span>
                <input type="text" id="cnpj" nome= "cnpj">

            </label>
            <label for="senha">
                <span>Senha</span>
                <input type="text" id="senha" nome= "senha">

            </label>
            
            <input type="submit" value="Entrar" id="button">
            
        </form>
        
        <div>
            
            <hr>
            
        </div>
        
    </main>
    <section class="images">
        <img src="logo.jpg" alt="logo"> 
        <div class="circle"></div>
    </section>
</body>
</html>