h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
}
.title{
    text-transform: uppercase;
}
.subtitle{
    color: var(--medium);
}
.button {
    text-transform: lowercase;
    font-weight: 500;
    padding-left: 1.4rem;
    padding-right: 1.4rem;

}
.button-primay{
    background-color:rgb(196, 136, 80);
    border-color: rgb(196, 136, 80);
}
.button-primay:hover{
    background-color: rgb(196, 136, 80);
    border-color: #E8CBC0;
}
.button-primay-outline{
    border-color: rgb(196, 136, 80);
    color: black;
}
.button-primay-outline:hover{
    background-color: rgb(196, 136, 80);;
    border-color: #E8CBC0;
}
