<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro medidas</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form id="msform">
        <fieldset>
            <h2 class="fs-title">Informe as medidas</h2>
            <h3 class="fs-subtitle"></h3>
            <input type="number" name="peso" placeholder="Peso" />
            <input type="number" name="altura" placeholder="Altura" />
            <input type="number" name="medidacintura" placeholder="Medida cintura" />
            <input type="number" name="medidaquadril" placeholder="Medida quadril" />
            <input type="number" name="medidabusto" placeholder="Medida busto" />
            <input type="button" name="next" class="Finalizar action-button" value="Finalizar" />
          </fieldset>
        </form>
</body>
</html>