<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro medidas</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <h1>Cadastre suas medidas</h1>
        <div>
            <form action="">
                <label for="peso">
                    <span>Peso</span>
                    <input type="number" id="peso" nome= "peso">
               
                </label>
                <label for="altura">
                    <span>Altura</span>
                    <input type="number" id="peso" nome= "peso">
                
                </label>
                <label for="cintura">
                    <span>Medida da cintura</span>
                    <input type="number" id="cintura" nome= "cintura">
               
                </label>
                <label for="quadril">
                    <span>Medida do quadril</span>
                    <input type="number" id="quadril" nome= "quadril">
                
                </label>
                <label for="busto">
                    <span>Medida do busto</span>
                    <input type="number" id="busto" nome= "busto">
                
            
                
                </label>
                <br>
                <a href="../imc/index.html">Calcule o seu IMC  </a>
                <input type="submit" value="Finalizar cadastro" id="button">
                </form>
        
    </main>
    <section class="images">
        <img src="logo.jpg" alt="logo">
        <div class="circle"></div>
    </section>





</body>
</html>