<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro medidas</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form id="msform">
        <fieldset>
            <h2 class="fs-title">Informe as medidas</h2>
            <h3 class="fs-subtitle"></h3>
            <input type="number" name="peso" placeholder="Peso" id="peso"  pattern= "(peso >= 0 && peso = 1000)" title="Seu peso deve ser maior que 0 e menor que 500" />
            <input type="number" name="altura" placeholder="Altura" id="altura" />
            <input type="number" name="medidacintura" placeholder="Medida cintura" />
            <input type="number" name="medidaquadril" placeholder="Medida quadril" />
            <input type="number" name="medidabusto" placeholder="Medida busto" />
            <button type="submit" class="button">Enviar <span class="send"><i class="far fa-paper-plane"></i></span></button>
          </fieldset>
        </form>
</body>
</html>