<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro medidas</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <script src="script.js"></script>
    <form id="medidas">
        <fieldset>
            <h2 class="fs-titulo">Informe as medidas</h2>
            <h3 class="fs-subtitulo"></h3>
            <input type="number" name="peso" placeholder="Peso" id="peso" title="Seu peso deve ser maior que 0 e menor que 500" required />
            <input type="number" name="altura" placeholder="Altura" id="altura" title="Sua altura deve ser maior que 0 e menor que 3.0" required />
            <input type="number" name="medidacintura" placeholder="Medida cintura" id="cintura"  title="Sua cintura deve ser maior que 0 e menor que 102" required/>
            <input type="number" name="medidaquadril" placeholder="Medida quadril" id="quadril"  title="Seu quadril deve ser maior que 0 e menor que 1"required />
            <input type="number" name="medidabusto" placeholder="Medida busto" id="busto"  title="Seu busto deve ser maior que 0 e menor que 200" required />
            <button type="submit" id="botao" class="button">Enviar <span class="send"><i class="far fa-paper-plane"></i></span></button>
          </fieldset>
        </form>
</body>
</html>