<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crie sua conta</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <script src="js/scripts.js"></script>
    <main>
        <h1>Crie sua conta</h1>
        <div>
            <form action="">
                <label for="nome">
                    <span>Nome</span>
                    <input type="text" id="nome" nome= "nome">
               
                </label>
                <label for="data">
                    <span>Data de aniversário</span>
                    <input type="date" id="data" nome= "Data">
                
                </label>
                <label for="cnpj">
                    <span>Cnpj</span>
                    <input type="text" id="cnpj" nome= "cnpj">
                    
               
                </label>
                <label for="area de atuação">
                    <span>Area de atuação</span>
                    <input type="text" id="area de atuação" nome= "area de atuação">

                </label>
                <label for="formação">
                    <span>Instituto de formação</span>
                    <input type="text" id="Instituto de formação" nome= "Instituto de formação">

                </label>
                <label for="ano de formação">
                    <span>Ano de formação</span>
                    <input type="date" id="ano de formação" nome= "ano de formação">

                    <label for="Descrição">
                        <span>Descreva sobre você</span>
                        <input type="text" size="220" maxlength="220" id="Descrição" nome= "Descrição">
                        
                    </label>
                </label>
                <label for="telefone">
                    <span>Telefone</span>
                    <input type="text" id="telefone" nome= "telefone">
                
                </label>
                <label for="cep">
                    <span>CEP</span>
                    <input type="text" id="cep" nome= "cep">
                </label>
                <label for="numero">
                    <span>Numero</span>
                    <input type="number" id="numero" nome= "numero">
                
                </label>

                <label for="complemento">
                    <span>Complemento</span>
                    <input type="text" id="complemento" nome= "complemento">
                
                
                
                </label>
                <label for="email">
                    <span>Email</span>
                    <input type="text" id="email" nome= "email">
                
                </label>
                <label for="senha">
                    <span>Senha</span>
                    <input type="text" id="senha" nome= "senha">
                
                </label>

            </label>
            <label for="confime sua senha">
                <span>Confirme sua senha </span>
                <input type="text" id="confirme sua senha" nome= "confirme sua senha">
            
            </label>
                
                <input type="submit" value="Cadastrar-se" id="button">
                </form>
        </div>
        <hr>
        </div>
        <div>
            <p> Já tem uma conta?
                <a href='../assets/index.html'>Conecte-se </a>
            </p>
        </div>
    </main>
    <section class="images">
        <img src="logo.jpg" alt="logo">
        <div class="circle"></div>
    </section>
</body>
</html>